.kpi-summary {
  margin: 10px 0;
  margin-left: 0.5%;
  width: 100%;

  border: 1px solid #3D3D3D;
  border-radius: 6px;
  padding: 8px;

  overflow: hidden;
  flex: 0 0 auto;
}

.kpi-container {
  display: flex;
  gap: 10px;

  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 4px;
}

.kpi-card {
  flex: 0 0 auto;
}

.kpi-card {
  border: 0.5px solid #555;
  padding: 6px 10px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60px;
}

.kpi-value {
  display: flex;
  align-items: baseline;
  gap: 2px;
}

.kpi-main {
  font-size: 18px;
  font-weight: bold;
}

.kpi-total {
  font-size: 18px;
  opacity: 0.7;
}

.kpi-label {
  font-size: 11px;
  opacity: 0.6;
}

/* ------------------------ Scroll horizontal de cards KPI ------------------ */
.kpi-container::-webkit-scrollbar {
  height: 4px;
}

.kpi-container::-webkit-scrollbar-track {
  background: #2B201D;
}

.kpi-container::-webkit-scrollbar-thumb {
  background: #5C5C5C;
  border-radius: 8px;
}

.kpi-container::-webkit-scrollbar-thumb:hover {
  background: #717171;
}

.kpi-container::-webkit-scrollbar-corner {
  background: #2B201D;
}

/* --------------------------------------------------------------------------- */